<h1>About: What is this application?</h1>
<p>This ruby application is designed to emulate the function & apperance of an online forum, allowing users to
to create forum posts using the framework of a blog, blog comments acting as forum replies.</p>

<p>The original function of the application was to act as a "Wiki", an online encyclopedia focused on a single
subject or piece of media, originally planned to incoperate the functionality of a Ruby on Rails blog, difficulties arose during
development and the focus shifted onto a forum.</p>

<h2>Methods used</h2>
<p>This ruby application utilizes a Bootstrap style CSS for implementing a basic navigtion bar function, and a git install bundle for
action text function used for commenting on posts.</p>

<p>The application stores a ruby on rails database containing the information on created blog/forum posts, comments, page views, users & user information.</p>
<%= link_to "Back to the Homepage", root_path %>
