
<div class="container">
<h1>Ruby Blogging-Forum</h1>
<p>You can read more about the purpose of this application, or checkout the pages featured on the forum.</p>
<%= link_to "About Us", about_path, class:"btn btn-secondary" %>
<%= link_to "Forum Posts", posts_path, class:"btn btn-primary" %>
</div>
