
<div class="container">
<h1>My Wiki Blog</h1>
<p>You can read more about the purpose of this application, or checkout the pages featured on the wiki.</p>
<%= link_to "About Me", about_path %>
</div>
